!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Trender i Open Source GIS

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />

  body
    article
      section
        h2 Open Source GIS
        h1 Trender
        p Christopher Fredén
        p <a href='http://twitter.com/icetan' target='_blank'>@icetan</a>
        p Slides finns på <a href='http://pthorin.github.io/pubgis2013'>http://icetan.github.io/oss-gis-trends</a>

      section
        h2 Open Source vs Closed Source
        ul.bullet
          li Closed source: Drivkraft att skapa stora system
          li Open source: Drivkraft att skapa lösningar för specifika problem

      section
        h2 Professionell GIS
        h3 (tung-GIS, desktop-GIS)
        ul.bullet
          li ESRI
          li Mapinfo
          li QGIS
        <img src="images/tung-gis.jpg" class="background"/>

      section
        h2 Konsument-GIS
        h3 (web-GIS, neo-GIS)
        hr
        p Vi tillhandahåller GIS i den moderna webbläsaren
        ul.bullet
          li Lika kraftfullt som desktop-GIS
          li.footnote typ...
          li.footnote WebGL, Web Workers, Web Sockets, Web RTC
        <img src="images/consumer.png" class="background"/>

      section
        h2 Vad använder Kartena?
        table.logos
          tr
            td <img src="images/mapnik.png"/>
            td <img src="images/tilestache.jpg" height="100"/>
            td <img src="images/geoserver.png" height="60"/>
          tr
            td <img src="images/tilemill.png" height="120"/>
            td <img src="images/nodejs.png"/>
            td <img src="images/qgis.png" height="60"/>
          tr
            td <img src='images/leaflet.png' />
            td <img src='images/gitscm.png' />
            td <img src='images/postgis.png' height='120' />

      section
        h3 Trend
        hr
        h2 Professionell GIS närmar sig konsument-GIS
        hr
        ul.bullet
          li ESRI börjar öppna upp (delvis)
          li QGIS web

      section
        h3 Trend
        hr
        h2 Konsument-GIS närmar sig professionell GIS

      section
        h2 JavaScript
        p Node.js / NPM

      section
        h2 Komponenter
        ul.bullet
          li Mindre funktionalitet per del, fler delar
          li JavaScript minskar friktionen vid utvecklingen
          li NPM hjälper till att hantera alla komponenter
          li.footnote Detta är inget nytt, det är en gammal UNIX-idé

      section
        h1 Exempel

      section
        div#mapzor
          h1 <a href="http://leafletjs.com/"><img src="images/leaflet.png" width=440 alt="Leaflet"/></a>
          ul.bullet
            li Färre funktioner istället för fler
            li Plugin baserad arkitektur
            li Enkelhet*
            li.footnote *jämfört med OpenLayers
        <div id="map" ></div>

      section
        <img src="images/projection.png" class="background"/>
        h1 <a href="https://github.com/kartena/proj4leaflet/">Proj4Leaflet</a>
        p Stöd för projektioner i Leaflet av Kartena

      section
        h2 Andra plugin vi skrivit
        ul.bullet
          li <a href="https://github.com/kartena/leaflet-tilejson">Leaflet Tilejson</a> - lagerkonfiguration
          li <a href="https://github.com/kartena/Leaflet.zoomslider">Leaflet Zoomslider</a> - zoomslider
          li <a href="https://github.com/kartena/Leaflet.Pancontrol">Leaflet Pan control</a> - panoreringskontroll
          li <a href="https://github.com/kartena/Leaflet.EditableHandlers">Leaflet Editable handlers</a> - ritverktyg

      section
        h2 Open Source All the Things!
        h3 hur vi jobbar med open source
        ul.bullet
          li Tänk open source från början
          li Integration är viktigt
          li Håll det enkelt
          li Fler, mindre komponenter
          li Mycket är användbart även om det inte är perfekt
        <img src="images/all-the-things.jpg" class="background"/>

      section
        h1 Demo

      section
        h1 <a href='http://geojson.io' target='_blank'>geojson.io</a>

      section
        h1 <a href='http://www.liedman.net/gis-nerd-tools/' target='_blank'>GIS Nerd Tools</a>

      section
        h1 <a href='http://openstreetmap.org' target='_blank'>OpenStreetMap</a>

      section
        h1  <a href='http://d3js.org' target='_blank'>d3js - Data Driven Documents</a>

      section
        code.language-bash
          pre.
            > npm install -g wellknown reproject geojsonio-cli
            > echo "POINT(6399451 319802)" | wellknown |
              reproject --reverse --sr --from epsg:3006 --to epsg:4326 |
              geojsonio

      section
        h1 Inspiration
        <a href='http://chelm.github.io/foss4g2013-geo-javascript/' target='_blank'>http://chelm.github.io/foss4g2013-geo-javascript/</a>

      section
        h1 Tack!
        p Christopher Fredén
        p <a href='http://twitter.com/icetan' target='_blank'>@icetan</a>
        p <a href='http://pthorin.github.io/pubgis2013'>http://icetan.github.io/oss-gis-trends</a>
        <img src="images/cheers.gif" class="background"/>

      //  section
      //    h2 Syntax Highlighting
      //    h3.bullet Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
      //    hr
      //    // code.language-javascript
      //      //pre.
      //      //  bespoke.horizontal.from('article', {
      //      //    bullets: 'li, .bullet',
      //      //    hash: true,
      //      //    state: true
      //      //  });

      //section(data-bespoke-hash='named-route')
      //    h2 Named Route
      //    h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
      //    p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      //  section
      //    h2.bullet Just the beginning...
      //    hr
      //    ul
      //      li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
      //      li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
      //      li Edit JavaScript in <em>'src/scripts/main.js'</em>
      //    hr
      //    ul
      //      li
      //        strong Enjoy! :)
      //        a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/prism/components/prism-bash.js')
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    script(src='scripts/proj4-compressed.js')
    script(src='scripts/proj4leaflet.js')
    script(src='scripts/leaflet-tilejson.js')
    script(src='http://api.geosition.com/tile-meta/lm.jsonp?jsonp=lmvTileJson%3d')
    script(src='scripts/main.js')
